@*
   Actor details
*@

@model Actor

@{
    ViewData["Title"] = "Actors Details";
}

<div class="hero hero3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<!-- celebrity single section-->

<div class="page-single movie-single cebleb-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="mv-ceb">
                    <img src="@Html.DisplayFor(model => model.ProfilePictureURL)" alt="@Html.DisplayFor(model => model.FullName)">
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct">
                    <h1 class="bd-hd">@Html.DisplayFor(model => model.FullName)</h1>
                    <p class="ceb-single">Actor  |  Producer</p>
                    <div class="social-link cebsingle-socail">
                        <a href="#"><i class="ion-social-facebook"></i></a>
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-googleplus"></i></a>
                        <a href="#"><i class="ion-social-linkedin"></i></a>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overviewceb">Overview</a></li>
                                <li><a href="#biography"> </a></li>
                                <li><a href="#mediaceb"></a></li>
                                <li><a href="#filmography"></a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overviewceb" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>
                                                @Html.DisplayFor(model => model.Bio)
                                            </p>
<<<<<<< HEAD
                                            <div style="margin-top:100%; display:flex; justify-content:center">
=======
                                            <div class="form-group" style="margin-top:100%; display:flex; justify-content:center">                          
>>>>>>> 2dc6d8cf8efa28acac0a3b7359a0c3f2cd596130
                                                <a asp-action="Index" class="redbtn" style="margin:15px; float:left">
                                                    <i class="fa fa-rotate-back"></i>
                                                    Show All
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@Model.Id" class="redbtn" style="margin:15px">
                                                    <i class="fa fa-trash"></i>
                                                    Delete
                                                </a>
                                                <a asp-action="Edit" asp-route-id="@Model.Id" class="redbtn" style="margin:15px; float:right">
                                                    <i class="fa fa-edit"></i>
                                                    Edit
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Fullname:  </h6>
                                                <p><a href="#">@Html.DisplayFor(model => model.FullName)</a></p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Date of Birth: </h6>
                                                <p>June 24, 1982</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Country:  </h6>
                                                <p>Australian</p>
                                            </div>
                                            <div class="ads">
                                                <img src="~/images/uploads/ads1.png" alt="">
                                            </div>
<<<<<<< HEAD
                                        </div>
                                    </div>

                                </div>

=======
                                        </div>                    
                                    </div>
                     
                                </div>
                            
>>>>>>> 2dc6d8cf8efa28acac0a3b7359a0c3f2cd596130
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- celebrity single section-->
