@*
    Movies List
*@
@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movie List";
}

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>
                        Movies
                    </h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- movie-items-->
<div class="page-single movie_list">
    <div class="container">

        <div class="row ipad-width2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Found <span>1,608 movies</span> in total</p>
                    <label>Sort by:</label>
                    <select>
                        <option value="popularity">Popularity Descending</option>
                        <option value="popularity">Popularity Ascending</option>
                        <option value="rating">Rating Descending</option>
                        <option value="rating">Rating Ascending</option>
                        <option value="date">Release date Descending</option>
                        <option value="date">Release date Ascending</option>
                    </select>
                    <a asp-controller="Movies" asp-action="Index2" class="list"><i class="ion-ios-list-outline active"></i></a>
                    <a asp-controller="Movies" asp-action="Index" class="grid"><i class="ion-grid"></i></a>
                </div>
                @foreach (var item in Model)
                {
                    <div class="movie-item-style-2">
                        <img src="@item.ImageURL" alt="@item.Name" style="width:170px; height:261 px">
                        <div class="mv-item-infor">
                            <h6><a href="moviesingle.html">@item.Name</a></h6>
                            <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                            <p class="describe">@item.Description</p>
                            <p>Category: @item.MovieCategory</p>
                            <p>Producer: <a href="#">@item.Producer.FullName</a></p>
                            <p class="run-time">Start Date: @item.StartDate.ToString("dd MMM yy")    .     <span>End Date: @item.EndDate.ToString("dd MMM yy") </span></p>
                            <p>
                                Status:
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>
                        </div>
                    </div>
                }

                <div class="topbar-filter">
                    <label>Movies per page:</label>
                    <select>
                        <option value="range">5 Movies</option>
                        <option value="saab">10 Movies</option>
                    </select>
                    <div class="pagination2">
                        <span>Page 1 of 2:</span>
                        <a class="active" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
<!-- end of movie-items-->
